*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: seagreen;
  justify-content: center;
  background: url('./components/assets/images/img-1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  width: 420px;
  background:transparent;
  box-shadow: 0px -1px 29px 8px rgba(161,59,0,1);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}


.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50%;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 20px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #fff;
}

.input-box .icon{
  position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
font-size: 20px;
}

.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input{
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.wrapper button{
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0px -1px 29px 8px rgba(196,0,0,1);
}

.wrapper .register-link{
  font-size: 15px;
  text-align: center;
  margin-top: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}